[submodule "bufstop"]
	path = bufstop
	url = https://github.com/mihaifm/bufstop.git
[submodule "delimitMate"]
	path = delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "lusty"]
	path = lusty
	url = https://github.com/sjbach/lusty.git
[submodule "Tabmerge"]
	path = Tabmerge
	url = https://github.com/vim-scripts/Tabmerge.git
[submodule "TailMinusF"]
	path = TailMinusF
	url = https://github.com/vim-scripts/TailMinusF.git
[submodule "tcomment_vim"]
	path = tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "tlib_vim"]
	path = tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
	path = vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-nerdtree-tabs"]
	path = vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim-rails"]
	path = vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim-session"]
	path = vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "vim-xpath"]
	path = vim-xpath
	url = git://github.com/actionshrimp/vim-xpath.git
[submodule "vim-misc"]
	path = vim-misc
	url = https://github.com/xolox/vim-misc
	branch = master
[submodule "vim-easytags"]
	path = vim-easytags
	url = https://github.com/xolox/vim-easytags.git
	branch = master
[submodule "vim-snipmate"]
	path = vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
	branch = master
[submodule "vim-cucumber"]
	path = vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
	branch = master
[submodule "Vim-R-plugin"]
	path = Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
	branch = master
